<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteA">
  <test  name="TestA">
    <classes>
      <class name="com.rediffmail.steps.ApplicationDependentSteps"/>
    </classes>
  </test> <!-- Test -->
  
  <test  name="TestB">
    <classes>
      <class name="com.rediffmail.steps.GenericSteps"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
